@import "tailwindcss";

@layer base {
  body {
    background-color: #02040a;
    color: #acafb2;
    font-family: 'Outfit', sans-serif;
  }
}

@layer components {

  /* Glass Panels */
  .glass-panel {
    @apply bg-[#0f1014] border border-white/5 backdrop-blur-xl;
  }

  .glass-card {
  @apply bg-black/40 border border-white/10 backdrop-blur-md transition-all duration-300;
}



  /* Neon Gradients */
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-400 to-fuchsia-400;
  }

  .sidebar-active {
    background: linear-gradient(90deg, rgba(124, 58, 237, 0.15) 0%, rgba(124, 58, 237, 0) 100%);
    box-shadow: inset 2px 0 0 0 #7c3aed;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #02040a;
}


/* Global Form Elements */
@layer base {

  input,
  select,
  textarea {
    @apply bg-[#0f1014] border border-white/10 text-slate-200 rounded-lg focus:ring-2 focus:ring-violet-500/50 focus:border-violet-500/50 transition-all outline-none;
  }

  select option {
    @apply bg-zinc-900 text-slate-200;
  }
}